.About-me {
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url("/imagenes/Bgn4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  // justify-content: first baseline;
  // opacity: 1;

  .titulo {
    display: flex;
    font-size: 3.2em;
    font-family: "Abel", sans-serif;
    margin-left: 15%;
    margin-top: 2%;
    background: -webkit-linear-gradient(#d8d8d8 0%, #f5d100 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .parrafo1 {
    background: -webkit-linear-gradient(#d6cbcb 0%, #f5d100 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.9em;
    font-family: "Abel", sans-serif;
    text-align: center;
    margin-left: 25%;
    margin-top: 0%;
    width: 40%;
  }
  .parrafo2 {
    background: -webkit-linear-gradient(#d6cbcb 0%, #f5d100 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.9em;
    font-family: "Abel", sans-serif;
    text-align: center;
    margin-left: 25%;
    margin-top: 0%;
    width: 40%;
  }
  .parrafo3 {
    background: -webkit-linear-gradient(#d6cbcb 0%, #f5d100 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.9em;
    font-family: "Abel", sans-serif;
    text-align: center;
    margin-left: 25%;
    margin-top: 0%;
    width: 40%;
    
  }
  .parrafo4 {
    background: -webkit-linear-gradient(#d6cbcb 0%, #f5d100 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.9em;
    font-family: "Abel", sans-serif;
    text-align: center;
    margin-left: 25%;
    margin-top: 0%;
    width: 40%;
  }

  @media screen and (min-width: 200px) and (max-width: 500px) {

    font-size: .5em; 
    margin-top: 0%;
    // padding-top: 2%;
    
    .About-me{
    display: flex;
    flex-direction: column;   
    text-align: center; 
    

   h1{
     

    .titulo{
      display: flex;
      flex-direction: row;
      z-index: 1;


    }

   }

    // .titulo {
    // //   width: 100%;
    //   z-index: 1;
    // }

    .parrafo{
        font-size: 1.6em;
        width: 100%;
        // margin: 0;     
        

    }
  }
}
  @media screen and (min-width: 500px) and (max-width: 1000px) {
    // font-size: 40%;
    display: flex;
    // justify-content: center;    
    font-size: .6em; 

    .titulo {
      display: flex;
      font-size: 1.3em;     
      z-index: 1;
    }
    // .parrafo {
    //   display: flex;
    //   font-size: 1.3em;
    // }
  }
}
