.menu{

    display: flex;
    flex-direction: row;
    margin: auto;
    padding-left: 24%;
    padding-top: 44%;    
    position: absolute;
    top: 0%;
    font-size: 1em;
    z-index: 1;

    .menu-item:hover{
                font-weight: bold;                
                background: -webkit-linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);            
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;                 

                }    
    
    &-item{        

        text-decoration: none;
        padding: 2%;
        font-family: 'monospace';
        background: -webkit-linear-gradient( #d8d8d8 0%, #f5d100 100%);            
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;  
        font-size: 1.8em;     
       
        } 

}

// (to right, #43e97b 0%, #38f9d7 100%);
// background-image: linear-gradient(to top, #50cc7f 0%, #f5d100 100%);