.menu{

    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 5%;
    padding-left: 24%;
    padding-top: 44%;    
    position: absolute;
    top: 0%;
    font-size: 1em;
    z-index: 1;

            .menu-item:hover{
                        font-weight: bold; 
                        background: -webkit-linear-gradient( #0fd850 0%, #f9f047 100% );            
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;                 
                                      

                        }    
    
        &-item{        

            text-decoration: none;
            padding: 2%;
            font-family: 'monospace';
            background: -webkit-linear-gradient( #d8d8d8 0%, #f5d100 100%);            
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;  
            font-size: 1.8em;     
        
            } 
    }
    

