.Formulario-contacto{

    display: flex;
    background-image: url('/imagenes/Bgn7.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin: auto;
    // padding: 0% 0% 0% 0%;   
    // width: 100%; 
    // height: 100%;  
    // opacity: 1;
    // border-radius: 22% 22% 22% 22%; 
    
    
    .nombre-contacto{
        
           display: flex; 
           font-family: 'Cute Font', cursive;
           font-size: 2em;
                           
           
           text-align: center;
           color: white;
           margin: auto; 
           flex-direction: column; 
           padding: 2%;  
           align-items: center; 
           opacity: 0.8;
                           
               input{
                   all:unset;
                   border-bottom: solid 2px white;  
                //    margin: 1%;
               }
           }

    //    .idiomas{
    //        display: flex;
    //        flex-direction: row;
    //        padding: 3%;
    //        margin-top: 4%;
    //            }

       .message{
           //    all:unset;
           //    margin-top: 5%;
           display: flex;
           flex-direction: column;
           
        //    margin: auto;
           font-family: 'Cute Font', cursive;
           font-size: 2em;
           padding-top:2%;
           color: white;  
           opacity: 0.8;
                                       
           
            textarea{                
               display: flex;
               padding: 5%; 
               all:unset; 
               border-bottom: solid 2px  white;
               margin: 5%;
                    }

               .condiciones{
                   //    margin-top: 0%;
                   display: flex;
                   color: white;
                   text-align: center;
                   

                   }

                   .boton{
                       display: flex;
                       margin-top: 5%;

                       button{
                       text-decoration:none;
                       font-weight:500;
                       font-size:0.5em;
                       color:black;
                       padding-top:0.8em;
                       padding-bottom:0.6em;
                       padding-left:1em;
                       padding-right:1em;
                       border-radius: 42% 42% 42% 42%; 
                    //    background-color:yellow;  
                        } 
                    }
                }
            }