.Inicio{

    display: flex;        
    background-image: url('/imagenes/Bgn3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    

    

    .Informacion{
        display: flex;
        margin-left: 35%;

        .nombre{
            
            margin-top: 15%;
            font-size: 4em;
            font-weight: 800;
            font-family: 'Abel', sans-serif;
            background: -webkit-linear-gradient( 120deg, #0df006 60%, #e452bf 100%);            
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;          
            
        }
                
    }
}
