.Inicio {
  display: flex;
  background-image: url("/imagenes/Bgn3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  

  .Informacion {
    display: flex;
    margin-left: 36vw;    

    .nombre {
      margin-top: 5vh;
      font-size: 5.2em;
      // font-weight: bold;
      font-family: 'Cute Font', cursive;
      background: -webkit-linear-gradient(120deg, #0df006 10%, #e452bf 90%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;      
    }
  }

   @media screen  and (min-width:200px) and (max-width:500px){
     
       display: flex;
       flex-direction: column;

      .Informacion{
        margin: 0;
        text-align: column;
        margin-left: 7%;
        margin-top: 25%;

        .nombre{
          
          font-size: 3.5em;
          margin-left: 10%;
          margin-top: -25%;
          

        }
      }
   }
}
