.programas {
  display: flex;
  text-align: center;
  background-image: url("/imagenes/Bgn5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #e927eb;
  margin: auto; 
   

  h1 {
    display: flex;
    // flex-direction: column;
    font-family: "Abel", sans-serif;
    margin-left: 5vw;
    font-size: 3.5em;
    background: -webkit-linear-gradient(#d6cbcb 0%, #f5d100 10%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .column1 {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-left: 15%;
    margin-top: 36%;
    font-size: 3em;  
    opacity: 0.8;     
    
}
        .column2{
    
            display: flex;
            flex-direction: row;
            margin-left: -23%;
            margin-top: 32%;
            font-size: 3em; 
            opacity: 0.8;         
            
        }

}
