.Navegacion {
  margin: auto;

  .Social-Media {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 8vh;
    margin-left: 22vw;
    a {
      padding: 10%;
      opacity: 0.9;

      i {
        
          background: -webkit-linear-gradient(120deg,#d6cbcb 0%, #f5d100 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          opacity: 0.6;

        }
          i:hover {
            // font-weight: bold;
            background: -webkit-linear-gradient(160deg, #f5d100 200%, #0df006 100% );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
    }
  }

  @media screen  and (min-width:200px) and (max-width:500px){
      margin: 0;
      // margin-top: 3%;
      // font-size: 4vh;

    .Social-Media{

        display: flex;
        flex-direction: row;
        margin-left: 0;
        
        i{

          background: -webkit-linear-gradient(120deg,#d6cbcb 0%, #f5d100 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          opacity: 0.6;
          padding: 0 1% 0 1%;
          text-align: left;
          
        }
    }

}

  @media screen  and (min-width:500px) and (max-width:1000px){
     
    margin: auto;
    margin-right:5%;
    
    .Social-Media{
      margin-right: 20%;
      // margin-top: 45%;

      
      
    }
 

  }
}
